:root {
    --color-background: #121214;
    --color-title: #FFFFFF;
    --color-secondary-text: #A8A8B3;
    --color-graph-bpm-color: #8257e5;
    --color-graph-spo2-color: #00dd9b;
    --color-tooltip-label-color: #0d1117;
    --color-backgroung-secondary: #202024;
}